
#container {
    font-family: helvetica;
    font-size: 14px;
    min-width: 950px;
    width: 100%;
}
img, input {
    display: block;
    position: relative;
    margin: auto;
}
.logo {
    margin-top: 175px;
    padding: 25px;
}
.searchbar {
    position: relative;
    margin: auto;
    width: 480px;
    height: 45px;
}
#searchbar {
    width: 480px;
    height: 45px;
    font-size: 15px;
    border: solid rgb(196, 196, 196) 0.75px;
    border-radius: 3em;
    padding: 10px 10px 10px 33px;
    z-index: 1;
}
#searchbar:hover {
    box-shadow: 1px 1px 7px rgb(196, 196, 196);
}
#searchbar:focus {
    outline: none;
    box-shadow: 1px 1px 7px rgb(196, 196, 196);
}
.searchbar img {
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    z-index: 2;
    margin-left: 15px;
    margin-top: 15px;
    opacity: 0.4;
}
.search-buttons button {
    display: block;
    position: relative;
    padding: 10px 17px 10px 17px;
    margin: 5px;
    outline: none;
    border: solid white 1px;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    font-family: helvetica;
    font-size: 14px;
    opacity: 0.72;
    cursor: pointer;
}
.search-buttons button:hover {
    opacity: 1;
    border: solid rgb(194, 194, 194) 1px;
    box-shadow: 0px 1.5px 1px rgb(231, 231, 231);
}
.search-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 26px;
}
.navbar {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 115px;
    float: left;
    margin-top: -155px;
    justify-content: space-evenly;
}
.navbar-right {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 250px;
    float: right;
    margin-top: -155px;
    margin-right: 10px;
    justify-content: space-evenly;
    z-index: 1;
}
.navbar a, .navbar-right a {
    padding: 3px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(59, 59, 59);
    text-decoration: none;
}
.navbar a:hover, .navbar-right a:hover {
    text-decoration: underline;
}
.navbar-right img {
    z-index: 2;
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    opacity: 0.55;
}
.navbar-right img:hover {
    opacity: 1;
}
#signin {
    padding: 7px 12px 7px 12px;
    font-size: 13px;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: rgb(57, 136, 253);
    margin: -5px 0px 0px 0px;
}
.footer-holder {
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    background-color: rgb(240, 240, 240);
    border-top: solid rgb(206, 206, 206) 0.5px;
}
.footer-left {
    margin-left: 18px;
    margin-top: 12px;
}
.footer-right {
    float: right;
    margin-right: 18px;
    margin-top: -15px;
    
}
.footer-left a, .footer-right a {
    text-decoration: none;
    color: rgb(109, 109, 109);
    padding: 12px;
}
.footer-left a:hover, .footer-right a:hover {
    text-decoration: underline;
}