
img, input {
    display: block;
    position: relative;
    margin: auto;
}
.logo {
    margin-top: 175px;
    padding: 25px;
}
.searchbar {
    position: relative;
    margin: auto;
    width: 475px;
    height: 45px;
}
#searchbar {
    width: 475px;
    height: 45px;
    font-size: 15px;
    border: solid rgb(196, 196, 196) 0.75px;
    border-radius: 3em;
    padding: 10px 10px 10px 33px;
    z-index: 1;
}
#searchbar:hover {
    box-shadow: 1px 1px 7px rgb(196, 196, 196);
}
#searchbar:focus {
    outline: none;
    box-shadow: 1px 1px 7px rgb(196, 196, 196);
}
.searchbar img {
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    z-index: 2;
    margin-left: 15px;
    margin-top: 15px;
    opacity: 0.4;
}
.search-buttons button {
    display: block;
    position: relative;
    padding: 10px 17px 10px 17px;
    margin: 8px;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
    font-family: helvetica;
    font-size: 14px;
    opacity: 0.72;
}
.search-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-top: 16px;
}